# This should be your Ansible playbooks to provision your containers.
# An inventory will be automatically created using the names of the services
# from your container.yml file.
# Add any roles or other modules you'll need to this directory too.
# For many examples of roles, check out Ansible Galaxy: https://galaxy.ansible.com/
#
---

- hosts: scala-akka
  gather_facts: false
  pre_tasks:
    - raw: 'which python || (apt-get -q -y update && apt-get install -q -y python python3)'
    - setup:
  roles:
    - { role: java8 }
